<section id="experiencia" class="container-fluid py-md-5 py-3">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="mb-0 fs-1">Experiência</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card">
                            <div class="card-body px-0">
                                <div class="container-fluid">
                                    <div class="row text-center py-5">
                                        <div class="col">
                                            <ol class="steplist circle-big">
                                                <li id="experiencia_1">Reparo e manutenção
                                                    de<br>computadores</li>
                                                <li id="experiencia_2">Instalação e
                                                    configuração
                                                    de<br>redes de computadores</li>
                                                <li id="experiencia_3">Configuração
                                                    de<br>servidores
                                                    Linux</li>
                                                <li id="experiencia_4">Programação e
                                                    desenvolvimento
                                                    de<br>sistemas Web</li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="row py-3 align-items-center" *ngIf="">
                                        <div class="col-md-3 text-center">
                                            <img loading="lazy" class="img-fluid rounded"
                                                src="assets/images/old_pc.jpg" />
                                        </div>
                                        <div class="col">
                                            <h3 class="fs-5 text-dark">Começando com 11 anos de idade e adquirindo
                                                conhecimentos pelo
                                                meu padrastro que
                                                era técnico em Informática, tive a sorte de aprender desde os Pentium
                                                133 (que foi meu
                                                primeiro computador!) até os atuais Ryzen 7000, das memórias PC66 até as
                                                DDR5,
                                                desde lá, continuo me aperfeiçoando no que for possível da área de
                                                tecnologia de
                                                computadores.
                                            </h3>
                                            <h3 class="fs-5 text-dark">Trabalhei desde os 15 anos realizando manutenções
                                                de computadores, configuração de pequenas redes, suporte aos clientes.
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="row py-3 align-items-center">
                                        <div class="col-12 text-center px-0">
                                            <img loading="lazy" class="img-fluid rounded"
                                                src="assets/images/network_cable.png" />
                                        </div>
                                        <div class="col-12">
                                            <h3 class="fs-5 text-dark px-3">Começei a me dedicar no conhecimento de
                                                redes de
                                                computadores, onde aprendi sobre redes cabeadas, sem fio, modelo OSI,
                                                protocolos, roteamento, portas e etc
                                                e pude colocar em prática realizando instalações de roteadores dos mais
                                                diversos tipos, configuração de equipamentos de rede, realizando o
                                                cabeamento de rede, atividades comuns de quem trabalha com a área
                                                técnica
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>