<section id="tools" class="container-fluid">
  <div class="row">
    <div class="col">
      <div  class="container py-5">
        <div class="row">
          <div class="col">
            <h2 class="mb-0 fs-1 text-dark">Tecnologias que utilizo</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="mt-2"/>
          </div>
        </div>
        <div class="row justify-content-center py-3">
          <div class="col-6 col-md-3" *ngFor="let tool of tools">
            <img class="img-fluid rounded-circle h-100 w-100 p-3 effect-expand effect-vertical-appear" [src]="tool.src" [alt]="tool.name"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
