<section id="banner" class="container-fluid">
  <div class="row">
    <div class="col py-3 py-md-5">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container py-md-4">
        <div class="row">
          <div class="col-12 col-md-8">
            <h2 class="display-4 mb-0 mt-3">Olá,</h2>
            <h2 class="display-5 mb-3">sou um desenvolvedor<br />Web Full Stack</h2>
            <p class="text-light fs-5">
              Com mais de 10 anos atuando na área da informática, passei por diversos
              desafios: desde a área de suporte, manutenção e reparo de computadores,
              implementação de servidores (Linux é minha paixão) até a criação de
              sites e aplicativos. Atualmente, com mais de 6 anos de dedicação, me
              dediquei a área de desenvolvimento de sistemas e desenvolvo sites e
              aplicativos, responsivos e com diversas finalidades.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <img class="rounded-5 img-fluid" loading="lazy" src="assets/images/profile.jpg" />
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>
  </div>
</section>
