<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <h2 class="display-4">Olá,</h2>
      <h2 class="display-5">sou desenvolvedor um<br />Full-Stack Web</h2>
      <p class="text-light">
        Com mais de 10 anos atuando na área da informática, passei por diversos
        desafios: desde a área de suporte, manutenção e reparo de computadores,
        implementação de servidores (Linux é minha paixão) até a criação de
        sites e aplicativos. Atualmente, com mais de 6 anos de dedicação, me
        dediquei a área de desenvolvimento de sistemas e desenvolvo sites e
        aplicativos, responsivos e com diversas finalidades..
      </p>
    </div>
    <div class="col-12 col-md-4">
      <img class="rounded-5" loading="lazy" src="assets/images/profile.jpg" />
    </div>
  </div>
  <div class="row"></div>
</div>
