#banner {
  background-image: repeating-linear-gradient(
    45deg,
    #072546 0,
    #072546 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 50px 50px;
  background-color: #03111f;
  @media screen and (min-width: 1920px) {
    height: 80vh;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
