a {
    word-break: break-all;
    white-space: normal;
}

h3 {
    color: black !important;
}

.card {
    .card-body {
        p {
            white-space: pre-wrap;
    word-break: keep-all;
        }
    }
}