<section id="projects" class="container">
  <div class="row">
    <div class="col">
      <h2 class="mb-0 fs-1">Projetos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col ">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img
              src="assets/images/joylist_logo.png"
              class="img-fluid rounded-start"
              alt="Imagem logo do Joylist"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title text-center text-md-start">
                Joylist
              </h3>
              <p class="text-center">
                <a
                    class="fs-5"
                    href="https://www.joylist.com.br"
                    target="_blank"
                  >
                    www.joylist.com.br</a
                  >
              </p>
              <p class="card-text">
                Aplicativo para compartilhamento de presentes, com possibilidade
                de criação de eventos e listas, para compartilhamento. Fui
                responsável por desenvolver a infraestrutura inicial bem como a
                arquitetura do projeto, além do desenvolvimento de código.
              </p>
              <p>Tecnologias utilizadas:</p>
              <ul>
                <li>Ionic 7</li>
                <li>Angular 15</li>
                <li>Capacitor 5</li>
                <li>Laravel 10</li>
                <li>CloudPanel</li>
                <li>AWS EC2</li>
                <li>Firebase</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="row g-0">
          <div
            class="col-md-4 d-flex align-items-center justify-content-center"
          >
            <img
              src="assets/images/unilagos_logo.jpg"
              class="img-fluid rounded-start w-100"
              alt="Imagem logo da Faculdade Unilagos"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title text-md-start text-center">
                Atlas de Patologia Oral
              </h3>
              <p class="text-center">
                <a
                    class="fs-5"
                    href="https://https://gkreischer.github.io/Atlas-Patologia-Oral/"
                    target="_blank"
                  >
                    gkreischer.github.io/Atlas-Patologia-Oral/</a
                  >
              </p>
              <p class="card-text">
                Projeto desenvolvido para estudantes da faculdade Unilagos do
                curso de Odontologia, iniciado pela Laís dos Santos Castilho,
                para compartilhar conhecimentos desenvolvidos em projetos na
                faculdade.
              </p>
              <p>Tecnologias utilizadas:</p>
              <ul>
                <li>Ionic 7</li>
                <li>Angular 13</li>
                <li>Github Pages</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="row g-0">
          <div
            class="col-md-4 d-flex align-items-center justify-content-center"
          >
            <img
              src="assets/images/sigatec_logo.jpg"
              class="img-fluid rounded-start"
              alt="Imagem logo da Sigatec Informática"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title text-md-start text-center">
                Site Sigatec Informática
              </h3>
              <p class="text-center">
                <a
                    class="fs-5"
                    href="https://gkreischer.github.io/sigatec-site/"
                    target="_blank"
                  >
                    gkreischer.github.io/sigatec-site/</a
                  >
              </p>
              <p class="card-text">
                Site desenvolvido usando React para a empresa de Rio das Ostras.
                Empresa especializada em manutenção de computadores e suporte de
                TI.
              </p>
              <p>Tecnologias utilizadas:</p>
              <ul>
                <li>React 18</li>
                <li>Bootstrap 5.1</li>
                <li>Github Pages</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="row g-0">
          <div
            class="col-md-4 d-flex align-items-center justify-content-center"
          >
            <img
              src="assets/images/logo_ionic.png"
              class="img-fluid rounded-start"
              alt="Logo da framework Ionic"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title text-md-start text-center">
                AppMarket
              </h3>
              <p class="text-center">
                <a
                    class="fs-5"
                    href="https://msk.gkdeveloper.com.br/"
                    target="_blank"
                  >
                  https://gkreischer.github.io/AppMarket/#/home</a
                  >
              </p>
              <p class="card-text">
                Exemplo de um app em Ionic para uma loja de produtos
              </p>
              <p>Tecnologias utilizadas:</p>
              <ul>
                <li>Ionic 6</li>
                <li>Github Pages</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>