<app-navbar></app-navbar>
<main class="container">
  <div class="row">
    <div class="col">
      <section class="card">
        <div class="card-body">
          <div class="container-fluid py-5 px-5">
            <div class="row">
              <div class="col-12 col-md-3">
                <img class="img-fluid rounded-4" loading="lazy" src="./../assets/images/profile.jpg" />
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <h1>Gustavo Kreischer de Almeida</h1>
                  </div>
                </div>
                <div class="row ps-1">
                  <div class="col">
                    <h6>gustavokreischer@gmail.com</h6>
                  </div>
                </div>
                <div class="row ps-1">
                  <div class="col">
                    <h6>https://github.com/Gkreischer</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>