<app-navbar></app-navbar>
<main class="container">
  <div class="row">
    <div class="col">
      <section class="card">
        <div class="card-body">
          <div class="container-fluid pt-3 py-md-5 px-md-5">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="row">
                  <div class="col">
                    <img class="img-fluid rounded-4" loading="lazy" src="./../assets/images/profile.jpg" />
                  </div>
                </div>
                <div class="row pt-md-3">
                  <div class="col d-flex align-items-center justify-content-center">
                    <ion-icon name="mail"></ion-icon>
                    <h6><a class="text-decoration-none" href='mailto:gustavokreischer@gmail.com'>gustavokreischer@gmail.com</a></h6>
                  </div>
                </div>
                <div class="row pt-md-1">
                  <div class="col d-flex align-items-center justify-content-center">
                    <ion-icon name="logo-github"></ion-icon>
                    <h6><a class="text-decoration-none" href="https://github.com/Gkreischer">https://github.com/Gkreischer</a></h6>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <h1>Gustavo Kreischer de Almeida</h1>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>