<section
  id="contact"
  class="container-fluid py-5"
  data-bs-spy="scroll"
  data-bs-target="#navbar"
>
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <h3 class="text-dark fw-bold">Formulário de contato</h3>
            <p class="small">Entre em contato comigo em poucos passos</p>
            <form [formGroup]="contactForm" (ngSubmit)="submit()">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold fs-5">Nome</label>
                <input
                  type="name"
                  class="form-control"
                  id="name"
                  formControlName="name"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label fw-bold fs-5">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                />
              </div>
              <div class="mb-3">
                <label for="message" class="form-label fw-bold fs-5"
                  >Mensagem</label
                >
                <textarea
                  class="form-control"
                  id="message"
                  rows="3"
                  formControlName="message"
                ></textarea>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-primary w-100 fw-bold"
                  [disabled]="!contactForm.valid"
                >
                  Enviar
                </button>
                <p class="form-text">
                  Seus dados não são armazenados nem divulgados
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
