svg {
    position: absolute;
}

.card.custom {
    width: 200px;

    @media screen and (max-width: 768px) {
        width: 350px;
    }
 }

 section {
    background-color : white;
    @media (width > 1200px) {
        padding: 5rem !important;
    }
 }