/* You can add global styles to this file, and also import other style files */

// Colors:

// 041C32
// 04293A
// 064663
// ECB365

html,
body {
    background-color: #041C32;
    font-family: 'Nunito Sans', sans-serif;
}

ion-icon {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

hr {
    border: none;
    height: 12px;
    background: rgb(0,0,0, 0.9);
    border-radius: 20px;
}